<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js" defer></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
            <!-- CONTAINER BACKGROUND COLOR -->
        <div id="container-bg">
            <div id="top-bg"></div>
            <div id="bottom-bg"></div>
        </div>


    <!-- CONTAINER MAIN -->

        <div id="container-main">
            <div id="left-side">
               <div class="left-side-top">
                                        <!-- BLOCCO UTENTE -->
                    <div id="myUser">
                        <div class="user d-flex justify-content-between">
                            <div class="img-user d-flex  align-items-center">
                                <div class="container-img-user d-flex justify-content-center align-items-center">
                                    <img src="./img/avatar_io.jpg" alt="img utente">
                                </div>
                                <div class="nameMyUser">Sofia</div>
                            </div>

                            <div class="iconMyUser d-flex align-items-center">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                        <!-- BLOCCO ALERT NOTIFICA -->

                    <div class="alertMyUser d-flex align-items-center">
                        <div class="imgNotifica d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>

                        <div class="testoAlert">
                            <p class="testo-1-alert">Ricevi notifiche di nuovi messaggi</p>
                            <p class="testo-2-alert">Attiva notifiche desktop</p>
                        </div>
                       
                    </div>

                        <!-- BLOCCO INPUT CERCA -->
                    <div class="containerInputcerca d-flex justify-content-center mt-1">
                        <span class="icon-lente d-flex justify-content-center align-items-center"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input v-model.trim="searchTerm"  type="text" name="cercaChat" id="cercaChat" placeholder="Cerca o inizia una nuova chat"
                        @keyup="filteredContacts()">
                    </div>
               </div>

                    <!-- BLOCCO CHAT -->
               <div class="left-side-bottom">
                    <div class="container-chat-active d-flex align-items-center"
                    v-for="(valore, index) in filteredContacts()" :key="valore.id" 
                    @click="getChat(valore.id)">

                        <div class="container-img">
                            <img :src="valore.image" alt="">
                        </div>

                        <div class="container-testo-chat">
                            <div class="nome-utente">{{valore.name}}</div> 
                            <div class="last-message" v-if="valore.messages.length > 0">{{valore.messages[valore.messages.length -1].message}}</div>
                        </div>

                        <div class="container-ora-utente">
                            <div class="orario-chat" v-if="valore.messages.length > 0">{{valore.messages[valore.messages.length -1].date}}</div>
                        </div>
                    </div>
               </div>



                
            </div>
            <div id="right-side">
                    <!-- MODIFICO TOP RIGHT -->

                <div id="top-right-side">
                    <div class="container-chat d-flex align-items-center justify-content-between">
                        <div class="container-obj-utente d-flex align-items-center">
                            <div class="container-img">
                                <img :src="'img/avatar' + listaUtenti[currentChat].avatar +'.jpg' " alt="">
                            </div>
    
                            <div class="container-testo-chat">
                                <div class="nome-utente">{{listaUtenti[currentChat].name}}</div>
                                <div class="ultimo-accesso-utente d-flex">Ultimo accesso <div class="orario-chat"  v-if="listaUtenti[currentChat].messages.length > 0"> {{listaUtenti[currentChat].messages[listaUtenti[currentChat].messages.length -1].date}}</div></div>
    
                            </div>
                        </div>

                        <div class="iconMyUser d-flex align-items-center">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>

                <div id="main-right-side">
                    <div id="container-messaggi" class="rounded-2 "
                    :class="value.status"
                    v-for="(value, index) in listaUtenti[currentChat].messages" :key="index" ref="msg">

                        <div
                        class="messaggi d-flex align-items-center">
                            {{value.message}}
                           <div class="container-ora-messaggio d-flex justify-content-end">{{value.date}}</div> 
                           <div class="deleteMessage" @click="showInfo(index)"><i class="fa-solid fa-caret-down"></i>

                            <div v-if="showinfoMsg.index === index && showinfoMsg.show" class="container-info-message rounded-2">
                                <div class="info-msg">Info messaggio</div>
                                <div @click="removeMsg(index)">Cancella messaggio</div>
                            </div>
                        </div>
                        </div>
                        

                    </div>
                </div>

                <div id="bottom-right-side" class="d-flex align-items-center justify-content-between">

                    <div class="container-emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <div class="container-input-message">
                        <input v-model.trim ="newmessage" type="text" class="inputMessage" id="inputMessage" placeholder="Scrivi un messaggio"
                        @keyup.enter="sendMessage" >
                    </div>

                    <div class="container-registra">
                        <div class="container-registratore"
                        v-if="newmessage.length < 1">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                        <div 
                       
                        class="container-paperPlane"
                        v-else="newmessage.length >= 1" @click="sendMessage()">
                        
                            <i class="fa-solid fa-paper-plane"></i>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>